{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Check the Numbers
{% endblock %}

{% block styles %}

    <style type="text/css">
        .checkboxes {
            height: 20vh;
        }
    </style>
    <link href="{% static 'global/css/all.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <p>
        The code you must check off is:
    </p>
    <span class="highlight">
        {{ find_num }}
    </span>

    <div class="checkboxes flex-container">
        {% for field, label in form_label %}
            <div class="flex-item">
                <input name={{ field }} type="checkbox" value="1"/>
                <label for={{ field }}>{{ label }}</label>
            </div>
        {% endfor %}
    </div>
    {% next_button %}

{% endblock %}
