{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 - Determination of Payments
{% endblock %}

{% block content %}
    <p>
        You nave now completed your work on all four assignments. We will now explain how you will paid for
        this work. After you have completed this HIT we will, for each assignment, match you with another
        participant who has completed the same assignment. The payment to you and the other participant is
        determined by a two-stage process. Below we explain this process in more detail.
    </p>
    <span><b>First Stage:</b></span>
    <p>
        Assignment 1: For this assignment, your earnings are determined by a lottery where each of you wins with
        equal probability {{ max_draw }} or {{ min_draw }}.
    </p>
    <p>
        Assignment 2: For this assignment, your earnings are determined in the same way as for assignment 1.
    </p>
    <p>
        Assignment 3: For this assignment, your earnings are determined by how productive you are. The
        participant with the highest score earns {{ high_score }} and the other participant earns {{ low_score }}. If
        you both have the same score, you will be matched with another participant.
    </p>
    <p>
        Assignment 4: For this assignment, your earnings are determined in the same way as for assignment 3.
    </p>
    <p>
        Remark: The conversion rate is {{ conversion }} = {{ dollar }}.
    </p>
    <span><b>Second Stage:</b></span>
    <p>
        For each assignment, a randomly selected third person will be given the opportunity to redistribute the
        earnings between you and the other participant. This person will not know the identity of you or the
        other participant, but will be informed about the nature of the assignment and your earnings for this
        assignment.
    </p>
    <p>
        For each assignment, either you or the other participant earn {{ high_win }} and the other participant
        earns {{ low_win }}. If the third person chooses not to redistribute, each of you will be paid your earnings
        from the assignment. If the third person chooses to redistribute earnings, increasing the payment of the
        participant with the low earnings by {{ increase }} decreases the other participant's payment by {{ decrease }}.
    </p>
    <p>
        You will receive your payments for the three assignments within three weeks and it will be paid
        separately from your fixed participation fee of {{ participation }}.
    </p>
    <p>
        Please click Next to continue.
    </p>
    {% next_button %}
{% endblock %}


