{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script src="{% static 'global/js/timeout.js' %}"></script>
{% endblock %}

{% block styles %}
    <style type="text/css">
        .highlight {
            display: inline-block;
        }
    </style>

    <link href="{% static 'global/css/all.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Word Unscrambling Task
{% endblock %}

{% block content %}
    <input type="hidden" id="hidden_time" value="{{ expiry_total }}">

    <div id="custom-timer" class="alert alert-warning">
        <p>
            Time left for this task: <span class="timer_total" style="font-weight: bold"></span>
        </p>
    </div>

    <span class="highlight">
        {{ sentence }}
    </span>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}


    {% next_button %}

{% endblock %}
