{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script src="{% static 'global/js/timeout.js' %}"></script>
{% endblock %}

{% block styles %}
    <style type="text/css">

    </style>

    <link href="{% static 'global/css/all.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}
    Assignment 1
{% endblock %}

{% block content %}
    <p id="demo"></p>

    <span class="sentence">
        {{ sentence }}
    </span>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}


    {% next_button %}

{% endblock %}
